*{
    background-color: rgb(219, 219, 200);
}
#con1{
     /* border: 2px solid red; */
     padding-left: 200px;
     padding-right: 200px;
}
#img1{
    height: 20px;
}
p{
    font-family: -apple-system,sans-serif;
}
table{
    /* border: 2px solid rebeccapurple; */
    width: 100%;
}
.td{
    text-align: right;
}
.c{
    text-align: justify;
}